.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.slider {
  width: 75%;
  height: 75%;
}

a {
  color: white;
  text-decoration: none;
}

.background-nls {
  position: relative;
  background-color: #F5F5DC;
}

.background-nls::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('../public/images/egyedi-kep.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-color: rgba(245, 245, 0, 1); */
  filter: brightness(0.5); /* Fekete filter alkalmazása */
  z-index: -1; /* Háttér mögé helyezés */

}

.background-nls h5,
.background-nls p {
  position: relative; /* Szövegek relatív pozícióba helyezése */
  z-index: 1; /* Szövegek előtérbe helyezése */
}


/* SAFE LASER */
.background-safe-laser {
  position: relative;
}

.background-safe-laser::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./img/bgnd.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  filter: brightness(0.5); */
  background-color: rgba(39, 144, 53, 0.8);
  z-index: -1;
}

.background-safe-laser h5,
.background-safe-laser p {
  position: relative; /* Szövegek relatív pozícióba helyezése */
  z-index: 1; /* Szövegek előtérbe helyezése */
}


/* BACKGROUND FREKVENCIA */
.background-frekvencia {
  position: relative;
}

.background-frekvencia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./img/bgnd.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  filter: brightness(0.5);*/
  background-color: rgba(219, 144, 45, 0.856);
  z-index: -1;
}

.background-frekvencia h5,
.background-frekvencia p {
  position: relative; /* Szövegek relatív pozícióba helyezése */
  z-index: 1; /* Szövegek előtérbe helyezése */
}


/* BACKGROUND PIOCA */
.background-pioca {
  position: relative;
  background-color: #F5F5DC;
}

.background-pioca::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./img/bgnd.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.5); */
  /* background-color: rgba(225, 62, 62, 0.8); */
  z-index: -1; 
}

.background-pioca h5,
.background-pioca p {
  position: relative; /* Szövegek relatív pozícióba helyezése */
  z-index: 1; /* Szövegek előtérbe helyezése */
}


/* MAGAMROL */
.background-magamrol {
  position: relative;
}

.background-magamrol::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./img/bgnd.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  filter: brightness(0.5);  
  background-color: rgba(186, 186, 102, 0.8);
  z-index: -1; 
}

.background-magamrol h5,
.background-magamrol p {
  z-index: 1; /* Szövegek előtérbe helyezése */
}



/* BACKGROUND */
.background {
  position: relative;
  background-color: #E3D5CA;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./img/bgnd.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: rgba(37, 37, 255, 0.8);
  filter: brightness(0.5); /* Fekete filter alkalmazása */
  z-index: -1; /* Háttér mögé helyezés */
}

.background h5,
.background p {
  position: relative; /* Szövegek relatív pozícióba helyezése */
  z-index: 1; /* Szövegek előtérbe helyezése */
}


.kep-sotet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fekete átlátszó háttér */
  z-index: -1;
}

.kor-kep {
  width: 300px; /* A kép szélessége */
  height: 300px; /* A kép magassága */
  background-image: url('./img/elokep-halvany.jpg'); /* Helyettesítsd az útvonalat a kép elérési útvonalával */
  background-size: cover; /* Az egész képet jeleníti meg a háttérben */
  background-position: center; /* Középre igazítja a képet */
  border-radius: 50%; /* Kerekített szélek */
  overflow: hidden; /* A tartalom kívül eső részei el vannak rejtve */
  border: 8px solid transparent; /* Átlátszó szegély */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Árnyék, ami elmosódást ad a kép szélén */
}

.row {
  margin: 0px !important;
}


.kep-egyedi {
  border-radius: 75%;
}

.zaszlok {
  width: 7rem;
  height: 2.5rem;
  z-index: 2;
}

.zaszlo-img {
  width: 2.5rem;
  height: 2rem;
}

.egyedi-asd {
  position: absolute;
  bottom: -25;
  width: 100%;
}

.link {
  text-decoration: underline;
  color: rgb(94, 94, 204);
}

.custom-border {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html {
  background-color: #E3D5CA;
}

.home-egyedi {
  height: 100%;
  background-color: #E3D5CA;
}


.container-beige {
  background-color: #E3D5CA;
}

.kitolto {
  height: 105px;
  background-color: #E3D5CA;
}

.teljes {
  background-color: #E3D5CA;
}

.bg-dark {
  background-color: #5E503F !important;
}

.szoveg {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 55px;
  color: #1B263B;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}